.sidebar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 244, 244);
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.links-container{
    display: flex;
}

.navbar-link{
    text-decoration: none !important;
    margin-left: 15px;
    color: black !important;
}

.navbar-link:hover{
    color:red !important;
    text-decoration: underline !important;
}

.logout{
    border: none;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}